body {
    // 径向渐变黑色星空背景
    //中间到四周渐变蓝黑色星空背景
    
    background: radial-gradient(circle  at center, #11121f 20%, #0b0d16 100%);
}


@function getShadows($n){
    $shadows:'#{random(100)}vw #{random(100)}vh #fff';
    @for $i from 2 through $n {
        $shadows: '#{$shadows}, #{random(100)}vw #{random(100)}vh #fff';
    }
    @return unquote($shadows);
}
$duration:400s;
$count: 1000;
@for $i from 1 through 5 {
   $duration:$duration / 2; 
   $count: floor($count / 2);
.layer#{$i} {
    $size: #{$i}px;
    position: fixed;
    width: $size;
    height: $size;
    border-radius: 50%;
    left: 0;
    top: 0;
    box-shadow: getShadows($count);
    animation: moveUp $duration linear infinite;
    &::after{
        content: '';
        position: fixed;
        left: 0;
        top: 100vh;
        border-radius: inherit;
        width: inherit;
        height: inherit;
        box-shadow: inherit;


    }
}
}



@keyframes moveUp {
    to{
       transform: translateY(-100vh);
    }
}