@import "https://cdn.tailwindcss.com/2.0.2/tailwind.min.css";

@layer base {
  h1 {
    font-family: "Bungee Spice", sans-serif, cursive;
    margin: 0px;
  }
  h2 {
    font-family: "Ubuntu", sans-serif;
  }
  .text-lg {
    font-family: "Pixelify Sans", sans-serif;
  }
}

.link {
  font-family: "Pixelify Sans", sans-serif;
  text-decoration: solid;
  color: blueviolet;
}

button {
  -webkit-user-select: none;
  user-select: none;
  font-family: sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 1rem;
}

#playPause{
  width: fit-content;
  max-width: 200px;
}

body {
  display: block;
  margin: 0px;
}
#menu ul {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
  width: 150px; /* 这是导航栏的宽度，你可以根据需要调整 */
  position: fixed;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(30px);
  justify-content: center;
  align-items: center;
}
#menu li {
  justify-content: center;
  align-items: center;
  text-align: center;
}
#menu li img {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 8px;
  text-align: center;
}
#menu li a {
  height: 59px;
  display: flex;
  color: #fff;
  text-decoration: none;
  text-align: center;
  align-items: center;
  padding: 8px 8px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  font-weight: 800;
}

#menu li a:hover {
  text-align: center;
  align-items: center;
  background-color: #0d0935;
  color: white;
  padding: 8px 8px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

#menu li a.selected {
  text-align: center;
  align-items: center;
  background-color: #0d0935;
  color: white;
  padding: 8px 8px;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  padding-bottom: 150px;
}

#music-cards {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: normal;
    justify-content: center;
    gap:1rem;
    max-width: calc(100% - 150px);
    width: fit-content;
    padding-left: 150px;
}

.music-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px;
  padding: 20px;
  width: 250px;
}

.music-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.music-card h3 {
  text-align: center;
  color: #333;
  font-size: 14px;
  height: 40px;
}

.music-card audio {
  width: 100%;
}

.music-card a {
  text-decoration: none;
  color: #337ab7;
  text-align: center;
}

.fas {
  font-size: 24px;
}

.icon-buttons {
  display: flex;
  justify-content: start;
  gap: 10px;
}

.counts p {
  margin: 0;
  display: inline-block;
}

.card-image {
  position: relative;
}
.card-content {
  width:100%;
  height:fit-content;
}

.play-pause-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  /* 增加投影 */
  display: normal; 
}
/* 鼠标移入时显示播放暂停按钮 */
.card-image:hover .play-pause-container {
  display: block;
}
.play-pause-container:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 20px;
  transition: all 0.3s;
  color: white;
  display: block;
}
/* 调整点赞量行排版 */
.counts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  text-align: center;
  justify-content:space-around;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.counts i {
  margin-right: 3px;
  font-size: 12px;
}
/* 调整播放量、点赞量图标大小 */
.play-count i, .upvote-count i {
  font-size: 12px;
  margin-right: 3px;
}

/* 调整播放量、点赞量数字大小 */
.count-value {
  font-size: 14px; /* 或您所需的大小 */
}

/* 调整下载按钮大小 */
.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.download-guides {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  gap: 0.5rem;
}
/* 标签组样式 */
.tags-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  
}
/* 定义--tag-color变量 */
:root {
  --tag-color-1:rgba(253, 213, 160, 0.4);
  --tag-color-2:rgba(156, 250, 168, 0.4);
  --tag-color-3:rgba(159, 197, 255, 0.4);
  --tag-color-4:rgba(252, 159, 255, 0.4);
  --tag-color-5:rgba(255, 162, 167, 0.4);
  --tag-color-6:rgba(66, 252, 143, 0.4);
  --tag-color-7:rgba(233, 221, 152, 0.4);
  --tag-color-8:rgba(173, 252, 137, 0.4);
  --tag-color-9:rgba(162, 229, 255, 0.4);
  --tag-color-10:rgba(155, 235, 255, 0.4);
  --tag-color-11:rgba(255, 210, 249, 0.4);
}
/* 定义标签样式 */
.tag {
  white-space: normal;
  flex-basis:fit-content;
  min-width:0;
  border-radius: 8px;
  padding-left: 8px;
  padding-right:8px;
  font-size: xx-small;
  width: fit-content;
  text-decoration: none;
  text-align: center;
  font-family: "Pixelify Sans", sans-serif;
  margin:4px;
}
.music-card ul li:nth-child(1){
  background-color: var(--tag-color-1);
}
.music-card ul li:nth-child(2){
  background-color: var(--tag-color-2);
}
.music-card ul li:nth-child(3){
  background-color: var(--tag-color-3);
}
.music-card ul li:nth-child(4){
    background-color: var(--tag-color-4);
}
.music-card ul li:nth-child(5){
  background-color: var(--tag-color-5);
}
.music-card ul li:nth-child(6){
  background-color: var(--tag-color-6);
}
.music-card ul li:nth-child(7){
  background-color: var(--tag-color-7);
}
.music-card ul li:nth-child(8) {
  background-color: var(--tag-color-8);
}
.music-card ul li:nth-child(9){
  background-color: var(--tag-color-9);
}

.music-card ul li:nth-child(10){
  background-color: var(--tag-color-10);
}
.music-card ul li:nth-child(11){
  background-color: var(--tag-color-11);
}


/* 底部播放器样式 */
#controls {
  display: flex;
  flex-direction: row;
  /* 设置播放器三个icon居中 */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
}
 #playControler {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}
#controls button {
  border-radius: 50%;
  padding: 16px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

#controls button:hover {
  opacity: 0.¾;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 50%;
  /* 增加背景蒙层 */
  padding: 16px;
  transition: all 0.3s;
}

#info-bar {
  /* 设置 */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}

/* 隐私政策页面样式 */
.privacy-policy {
  width: 1440px;
  margin: 0px;
  margin-left: 20px;
}

/* 播放器样式 */
#waveform {
  position: flex;
  /* bottom: 0px; */
  width: 100%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.2);
  padding: 4px;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
  z-index: -1;
}
#sixPlayer #progBar{
  height:2px;
}


#sixPlayer {
  position: fixed;
  bottom: 0;
  left: 150px;
  width: calc(100% - 150px);
  height: fit-content;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(30px);
}

#sixPlayer.expanded {
  height: 100px;
  transition: height 0.3s ease-in-out;
}

#player-controls.expanded {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

.mt-2 p {
  color: wheat;
  /* padding-bottom: 40px; */
  z-index: 1000;
}
.mt-2 input {
  color: wheat;
  z-index: 1000;
  font-size: 10px;
}
#volume-control p {
  color: wheat;
}

@media screen and (max-width: 640px) {
  /* 播放器样式 */
  #sixPlayer {
    left: 0;
    width: 100%;
    bottom: 30px;
  }

  #menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: fit-content;
    bottom: 0;
    z-index: 1000;
  }
  #menu li {
    justify-content: center;
    align-items: center;
    width: 33.33%; /* 如果你的导航栏有三项，那么每项的宽度应占33.33%。这个数字会根据你的导航项数量进行调整。 */
    float: left;
    height: fit-content;
  }
  #menu li .logoimg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
  }
  #menu li a {
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 50px;
  }
  #menu li a :hover {
    text-align: center;
    align-items: center;
    background-color: #0d0935;
    color: white;
    padding: 8px 8px;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:auto;
    margin-left: auto;
    margin-right: auto;

  }
  #music-cards {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    width: 100%;
    height: calc(100%-300px);
    background-color: transparent;
    padding-bottom: 200px;
    padding-left: 0px;
  }
  .music-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 90vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .music-card img {
    width: 90vw;
    height: auto;
    border-radius: 8px; 
  }
  .music-card h3 {
    text-align: center;
    color: #333;
    font-size: 28px;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    width:90vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .music-card .play-pause-container .fas {
    font-size: 28px;
    cursor: pointer;
    transition: all 0.3s;
    color: #fff;
    border-radius: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .music-card .play-pause-container .fas:hover {
    border-radius: 50%;
    padding: 20px;
    transition: all 0.3s;
  }

    /* 调整点赞量行排版 */
  .counts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    justify-content:space-around;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }

  /* 调整播放量、点赞量图标大小 */
  .play-count i, .upvote-count i {
    font-size: 22px; 
    margin-right: 8px;
  }

  /* 调整播放量、点赞量数字大小 */
  .count-value {
    font-size: 22px; /* 或您所需的大小 */
  }

    /* 调整下载按钮大小 */
  .card-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  .card-buttons button {
    width: 120px;
    height:59px;
  }
  .download-guides {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    gap: 0.5rem;
  }
}



#loader-container {
  /* 让里面的元素全部居中对齐 */
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* 让文字在动画下方 */
  flex-direction: column;
  width: 200px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(30px);
  color: black;
  border-radius: 8px;
  /* 让元素位于页面中间 */
  position: absolute;
  top: 30%;
  left: 50%;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

#loader {
  display: block;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid black;
  width: 40px;
  height: 40px;
  animation: spin 0.5s linear infinite;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#loading-text {
  display: block;
  user-select: none;
  z-index: 1000;
  font-size: 20px;
  color: rgb(0, 0, 0, 0.65);
  font-weight: bold;
}

#overlay {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
